body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

#calorie-tracker {
    max-width: 600px;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

button:hover {
    background-color: #45a049;
}

.manage-buttons button {
    width: auto;
}

.calories-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

#product-list {
    list-style-type: none;
    padding: 0;
}

#product-list li {
    border: 1px solid #ddd;
    margin: 5px 0;
    padding: 10px;
    background-color: #f9f9f9;
    display: flex;
    justify-content: space-between;
}

.delete-product{
    font-size: 18px;
    cursor: pointer;
    margin-left: 100px;
}

#chart-container {
    margin-top: 20px;
}

.delete-button {
    margin-top: 10px;
    background-color: #ff3300;
}

.delete-button:hover {
    background-color: #e60000;
}

